{% extends 'racetime/base.html' %}

{% block title %}
    Reset your password |
{% endblock %}

{% block main %}
    <h2>Reset your password</h2>
    <p class="help">
        If you have forgotten your password and can't log in, just fill in the
        form below and we'll email you some instructions to get back in.
    </p>
    <form class="password-reset-form layout-form" method="post">
        {% csrf_token %}
        <ul>{{ form.as_ul }}</ul>
        <button class="btn" type="submit">Submit</button>
    </form>
{% endblock %}
