<p>
    Hello {{ user.name }},
</p><p>
    To set a new password for your {{ site_info.title }} account, please follow
    the link below:
</p><p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Set a new password
    </a>
</p><p>
    If clicking the link above does not work, instead try to copy and paste the
    following URL into your browser's location bar:
</p><p>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p><p>
    GLHF,
</p><p>
    The <a href="{{ protocol }}://{{ domain }}{% url 'home' %}">{{ site_info.title }}</a> team
</p>
