{% if leaderboards %}
    <a href="{% url 'leaderboards' category=category.slug %}" class="btn category-nav">
        View leaderboards
    </a>
{% endif %}
{% if races %}
    <a href="{% url 'category' category=category.slug %}" class="btn category-nav">
        View races
    </a>
{% endif %}
{% if can_start_race %}
    <a href="{% url 'create_race' category=category.slug %}" class="start-new btn category-nav">
        Start new race
    </a>
{% endif %}
{% if can_edit %}
    <a href="{% url 'edit_category' category=category.slug %}" class="btn category-nav">
        Manage
    </a>
{% endif %}
