<div class="category-intro">
    {% if category.image %}
    <span class="image" style="background-image: url({{ category.image.url }})"></span>
    {% endif %}
    <div class="category-info">
        <ol class="breadcrumbs">
            <li><a href="{{ category.get_absolute_url }}">{{ category.slug }}</a></li>
        </ol>
        <span class="title">
            <h2 class="name">{{ category.name }}</h2>
            <span class="short-name">{{ category.short_name }}</span>
            {% if user.is_authenticated %}
                <form class="favourite {% if not is_favourite %}undo{% endif %}" method="post" action="{% url 'unstar' category=category.slug %}">
                    {% csrf_token %}
                    <button type="submit" title="Remove from favourites"><i class="material-icons">star</i></button>
                </form>
                <form class="favourite {% if is_favourite %}undo{% endif %}" method="post" action="{% url 'star' category=category.slug %}">
                    {% csrf_token %}
                    <button type="submit" title="Add to favourites"><i class="material-icons">star_border</i></button>
                </form>
            {% endif %}
        </span>
    </div>
    <dl class="category-meta">
        <dt>Owner</dt>
        <dd>
            {% include 'racetime/pops/user.html' with user=category.owner extra_class='inline' hide_flair=True hide_pronouns=True %}
        </dd>
        <dt>Moderators</dt>
        <dd class="meta-user-list">
            {% for moderator in category.all_moderators %}
                {% include 'racetime/pops/user.html' with user=moderator extra_class='inline' hide_avatar=True hide_flair=True hide_pronouns=True %}
            {% empty %}
                No-one
            {% endfor %}
        </dd>
    </dl>
</div>
