{% load humanize %}
<span class="header">
    <h4>{{ goal.name }}</h4>
    <span class="num-races">
        {{ goal.completed_races|intcomma }} race{{ goal.completed_races|pluralize }}
    </span>
</span>
<ol>
    {% for ranking in rankings %}
        <li>
            <span class="place">
                {{ forloop.counter|ordinal }}
            </span>
            <span class="user">
                {% include 'racetime/pops/user.html' with user=ranking.user %}
            </span>
            <span class="score">
                {{ ranking.display_score|intcomma }}
            </span>
            <span class="extra">
                {% if ranking.best_time %}
                    <span class="best-time" title="Best recorded finish time">
                        <i class="material-icons">star</i>
                        {{ ranking.best_time_html }}
                    </span>
                {% endif %}
                <span class="races" title="Races entered">
                    {{ ranking.times_raced|intcomma }} race{{ ranking.times_raced|pluralize }}
                </span>
            </span>
        </li>
    {% empty %}
        <li>No recorded races for this goal.</li>
    {% endfor %}
</ol>
