<ul class="nav-tabs">
    <li{% if current == 'edit_category' %} class="current"{% endif %}>
        <a href="{% url 'edit_category' category=category.slug %}">
            Edit category
        </a>
    </li>
    <li{% if current == 'category_goals' %} class="current"{% endif %}>
        <a href="{% url 'category_goals' category=category.slug %}">
            Goals
        </a>
    </li>
    <li{% if current == 'category_mods' %} class="current"{% endif %}>
        <a href="{% url 'category_mods' category=category.slug %}">
            Moderators &amp; ownership
        </a>
    </li>
    <li{% if current == 'category_emotes' %} class="current"{% endif %}>
        <a href="{% url 'category_emotes' category=category.slug %}">
            Emotes
        </a>
    </li>
    <li{% if current == 'category_teams' %} class="current"{% endif %}>
        <a href="{% url 'category_teams' category=category.slug %}">
            Team access
        </a>
    </li>
    <li{% if current == 'category_bots' %} class="current"{% endif %}>
        <a href="{% url 'category_bots' category=category.slug %}">
            Bots
        </a>
    </li>
    <li{% if current == 'category_audit_log' %} class="current"{% endif %}>
        <a href="{% url 'category_audit_log' category=category.slug %}">
            Audit log
        </a>
    </li>
</ul>
