<ul class="nav-tabs">
    <li{% if current == 'category' %} class="current"{% endif %}>
        <a href="{% url 'category' category=category.slug %}">
            Live races
        </a>
    </li>
    {% if show_my_races %}
    <li{% if current == 'my-races' %} class="current"{% endif %}>
        <a href="{% url 'category_my_races' category=category.slug %}">
            My races
        </a>
    </li>
    {% endif %}
    {% if can_moderate %}
    <li{% if current == 'record' %} class="current"{% endif %}>
        <a href="{% url 'category_record' category=category.slug %}">
            Race recorder ({{ recordable_race_count }})
        </a>
    </li>
    {% endif %}
    <li{% if current == 'leaderboards' %} class="current"{% endif %}>
        <a href="{% url 'leaderboards' category=category.slug %}">
            Leaderboards
        </a>
    </li>
</ul>
