{% if race.streaming_required and user.is_authenticated and not user.twitch_channel %}
    <div class="streaming-required">
        <p>
            Streaming is required to join this race. Use the button below to
            link up your Twitch.tv account. Refresh this page when you're done.
        </p>
        <a class="btn" href="{{ view.twitch_auth_url }}" target="_blank">
            Connect Twitch account
        </a>
    </div>
{% endif %}
<div class="race-actions">{% if available_actions %}
    {% include 'racetime/race/actions.html' %}
{% elif race.is_pending %}
    {% include 'racetime/race/actions_pending.html' %}
{% endif %}</div>
<div class="race-status">
    {% include 'racetime/race/status.html' %}
</div>
<div class="race-chat">
    <div class="disconnected" title="If this message doesn't disappear after a while, try reloading the page.">
        <span>
            <i class="material-icons">sync_problem</i>
            Reconnecting to chat…
        </span>
    </div>
    <div class="scrollwarning" title="Click here to scroll to the bottom">
        <span>
            <i class="material-icons">history</i>
            Chat paused due to scroll
        </span>
    </div>
    <ol class="messages pinned"></ol>
    <ol class="messages regular"></ol>
    {% if user.is_active %}
    <form action="{% url 'message' category=race.category.slug race=race.slug %}" method="post">
        {% csrf_token %}
        <ul>{{ chat_form.as_ul }}</ul>
        <div class="actions">
            {% if can_moderate %}
                <a class="moderation" title="Toggle moderator action buttons">
                    <i class="material-icons on">shield</i>
                    <i class="material-icons off">remove_moderator</i>
                </a>
            {% endif %}
            <a class="notifications" title="Enable/Disable notifications for mentions in chat">
                <i class="material-icons on">notifications</i>
                <i class="material-icons off">notifications_off</i>
            </a>
            {% if popout %}
                <a href="{% url 'race_mini' category=race.category.slug race=race.slug %}" class="popout" title="Show this panel in a separate window" onclick="open(this.href, '{{ race.slug }}', 'width=340,height=720'); return false">
                    <i class="material-icons">open_in_new</i>
                </a>
                <a href="{% url 'category_list_emotes' category=race.category.slug %}" class="popout" title="Custom emotes list" onclick="open(this.href, '{{ category.slug }}.emotes', 'width=240,height=500'); return false">
                    <i class="material-icons">insert_emoticon</i>
                </a>
            {% endif %}
            <a class="send-dm" title="Direct message">
                <i class="material-icons">mail</i>
            </a>
            <button type="submit" class="btn">
                <span class="chat">Chat</span>
                <span class="dm">Send</span>
            </button>
        </div>
    </form>
    {% endif %}
</div>
