<div class="race-info">
    <ol class="breadcrumbs">
        <li><a href="{{ race.category.get_absolute_url }}">{{ race.category.slug }}</a></li>
        <li><a href="{{ race.get_absolute_url }}">{{ race.slug }}</a></li>
    </ol>
    <span class="category">
        <span class="name">{{ race.category }}</span>
        <span class="short-name">{{ race.category.short_name }}</span>
    </span>
    <span class="goal">{{ race.goal|default:race.custom_goal }}</span>
    {% if race.info %}
        <span class="info">{{ race.info|urlize }}</span>
    {% endif %}
</div>
<dl class="race-meta">
    <dt>Opened by</dt>
    <dd>
        {% include 'racetime/pops/user.html' with user=race.opened_by extra_class='inline' %}
    </dd>
    <dt>Race monitors</dt>
    <dd class="meta-user-list">
        {% for monitor in race.monitors.all %}
            {% include 'racetime/pops/user.html' with user=monitor extra_class='inline' hide_avatar=True %}
        {% empty %}
            No-one
        {% endfor %}
    </dd>
    {% if race.is_done %}
        {% if race.started_at %}
            <dt>Started at</dt>
            <dd>
                <time class="datetime" datetime="{{ race.started_at.isoformat }}">
                    {{ race.started_at }}
                </time>
            </dd>
            {% if race.ended_at %}
                <dt>Ended at</dt>
                <dd>
                    <time class="datetime" datetime="{{ race.ended_at.isoformat }}">
                        {{ race.ended_at }}
                    </time>
                </dd>
            {% endif %}
        {% else %}
            <dt>Opened at</dt>
            <dd>
                <time class="datetime" datetime="{{ race.opened_at.isoformat }}">
                    {{ race.opened_at }}
                </time>
            </dd>
            {% if race.cancelled_at %}
                <dt>Cancelled at</dt>
                <dd>
                    <time class="datetime" datetime="{{ race.cancelled_at.isoformat }}">
                        {{ race.cancelled_at }}
                    </time>
                </dd>
            {% endif %}
        {% endif %}
    {% endif %}
</dl>
<div class="race-stream-control">
    <ul>
        <li class="go-spectate"><a href="{% url 'race_spectate' category=race.category.slug race=race.slug %}" title="Spectator view"><i class="material-icons">videocam</i></a></li>
        <li class="go-list"><a href="{{ race.get_absolute_url }}" title="Back to race view"><i class="material-icons">list_alt</i></a></li>
        <li class="streamctl" data-class="streamctl-2" data-unclass="streamctl-3 streamctl-4" title="Show 2 streams per row"><i class="material-icons">filter_2</i></li>
        <li class="streamctl" data-class="streamctl-3" data-unclass="streamctl-2 streamctl-4" title="Show 3 streams per row"><i class="material-icons">filter_3</i></li>
        <li class="streamctl" data-class="streamctl-4" data-unclass="streamctl-2 streamctl-3" title="Show 4 streams per row"><i class="material-icons">filter_4</i></li>
        <li class="streamctl close" data-class="streamctl-close" title="Hide sidebar"><i class="material-icons">chevron_right</i></li>
        <li class="streamctl open" data-unclass="streamctl-close" title="Show sidebar"><i class="material-icons">chevron_left</i></li>
    </ul>
</div>
