<ol>
    {% for entrant in race.streaming_entrants %}
        <li class="not-playing" data-embed-uri="https://player.twitch.tv/?channel={{ entrant.user.twitch_name.lower }}">
            <div class="meta">
                <span class="visibility">
                    <i class="material-icons off">check_box_outline_blank</i>
                    <i class="material-icons on">check_box</i>
                </span>
                {% include 'racetime/pops/user.html' with user=entrant.user %}
            </div>
            <div class="player"></div>
        </li>
    {% empty %}
        <li class="no-entrants">
            No race entrants are currently streaming.
        </li>
    {% endfor %}
</ol>
