<p>
    Hello {{ user.name }},
</p><p>
    You've just registered an account on
    <a href="{{ home_url }}">{{ site_info.title }}</a>. Congrats! You can now
    start joining in races and become part of the community.
</p><p>
    Your account is registered with this email address: <b>{{ user.email }}</b>
</p><p>
    Use this email to log in along with the password you gave during
    registration.
</p><p>
    First things first. Have a look at your
    <a href="{{ account_url }}">account settings</a> to make sure everything is
    in order. If you have a Twitch.tv account, you can link it up from that
    page too, which will let you join races where streaming is required.
</p><p>
    If everything looks good, start browsing race categories and join in!
</p><p>
    If you didn't register an account, just reply to this email and we'll take
    a look into what happened.
</p><p>
    GLHF,
</p><p>
    The <a href="{{ home_url }}">{{ site_info.title }}</a> team
</p>
