# Twitch.tv client authorization

# Create a Twitch application here: https://dev.twitch.tv/console/apps/create
# You must add http://localhost:8000/account/twitch_auth as a redirect URL.

TWITCH_CLIENT_ID = 'changeme'
TWITCH_CLIENT_SECRET = 'changeme'

# You should only need to set these if you are doing supporter stuff.

PATREON_CLIENT_ID = 'changeme'
PATREON_CLIENT_SECRET = 'changeme'
PATREON_ACCESS_TOKEN = 'changeme'
PATREON_CAMPAIGN_ID = 0
