{% load humanize %}
<li data-slug="{{ category.slug }}" data-search="{{ category.name|lower }} {{ category.short_name|lower }} {{ category.search_name|lower}}">
    <a href="{{ category.get_absolute_url }}">
        {% if category.image %}
            <span class="image" style="background-image: url({{ category.image.url }})"></span>
        {% else %}
            <span class="image no-image">
                <span class="short-name {% if category.short_name|length > 5 %}small{% endif %}">
                    {{ category.short_name }}
                </span>
            </span>
        {% endif %}
        <span class="name">{{ category.name }}</span>
        {% if show_recordable and category.recordable_race_count %}
            <span class="recordable-races">
                {{ category.recordable_race_count }} recordable
                race{{ category.recordable_race_count|pluralize }}
            </span>
        {% endif %}
        {% if category.current_race_count %}
            <span class="active-races">
                {{ category.current_race_count }} active
                ({{ category.open_race_count }} open)
            </span>
        {% endif %}
        {% if category.finished_race_count %}
            <span class="finished-races">
                Raced {{ category.finished_race_count|intcomma }}
                time{{ category.finished_race_count|pluralize }}
            </span>
        {% endif %}
    </a>
</li>
