body {
    background: #25272c;
}

body, button, input, textarea {
    color: #ddd8dd;
}

body, button, input, select, textarea {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.375;
    margin: 0;
    padding: 0;
}

input, textarea {
    background: #1a1c20;
    border: none;
    border-bottom: 1px solid #1da674;
    padding: 5px;
}
.dangerous input, .dangerous textarea {
    border-bottom-color: #f08080;
}
textarea {
    height: 66px;
    min-height: 66px;
    resize: vertical;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

h3 {
    display: inline-block;
    border-bottom: 1px solid #1da674;
    margin: 10px 0 5px;
}
h3.dangerous {
    border-bottom-color: #f08080;
}

ol, ul, dl {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}

a {
    color: #ddd8dd;
}

.btn, .btn:visited {
    background-color: #0c0f14;
    border: solid #26dd9a;
    border-width: 1px 0 0 1px;
    color: #ddd8dd;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.2s;
    vertical-align: top;
}

.btn.cancel {
    border-color: #ddd8dd;
    color: #ddd8dd;
}

.btn:hover {
    border-color: #a6ebc4;
    color: #beebd1;
}

.btn.cancel:hover {
    border-color: #f08080;
    color: #f08080;
}

.btn:active {
    border-color: #1da674;
    position: relative;
        top: -1px;
        left: -1px;
}

.btn:disabled,
.btn:disabled:hover {
    border-color: #666;
    color: #666;
}

.breadcrumbs {
    display: flex;
    font-size: 13px;
}

.breadcrumbs > li::before {
    color: #8c898c;
    content: '⇒';
    padding: 0 3px;
}
.breadcrumbs > li:first-child::before {
    content: none;
}

.user-pop {
    display: flex;
    text-decoration: none;
    align-items: center;
}
.user-pop::after {
    background: no-repeat 0 0 / contain;
    margin-left: 3px;
    height: 16px;
    width: 16px;
}
.user-pop.moderator::after {
    background-image: url(../image/sword.png);
    content: '\a0';
}
.user-pop.staff::after {
    background-image: url(../image/star.png);
    content: '\a0';
}
.user-pop > .avatar {
    background-image: radial-gradient(#1a1c20, #8c898c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin-right: 5px;
}
.user-pop > .name {
    white-space: nowrap;
}
.user-pop > .scrim {
    color: #8c898c;
    font-size: 13px;
    line-height: 1.6923;
}
.user-pop > .pronouns {
    background: #1a1c20;
    color: #8c898c;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 18px;
    margin-left: 5px;
    padding: 0 4px;
}
.user-pop.inline {
    display: inline-flex;
    vertical-align: top;
}
.user-pop.inline > .avatar {
    height: 22px;
    width: 22px;
}
.help {
    color: #8c898c;
    font-size: 13px;
}
.help strong,
.helptext strong {
    color: #ddd8dd;
}

h2 + .help,
h3 + .help {
    margin-top: 0;
}

header {
    border-bottom: 1px solid #26dd9a;
}

header, .container, footer {
    background: linear-gradient(to bottom, #36393f 0, #25272c 30px);
    padding: 0 40px;
}
@media (max-width: 1024px) {
    header, .container, footer {
        padding: 0 10px;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .title {
    position: relative;
}
header > .title > h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    margin: 0;
    position: relative;
        bottom: -4px;
}
header > .title > h1 > a,
header > .title > h1 > a:visited {
    color: #eee;
    text-decoration: none;
    position: relative;
}
header > .title > h1 > a,
header > .title > h1 > a > .dot {
    background-image: linear-gradient(to bottom, #becccc 0%, #eee 50%, #becccc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
header > .title > h1 > a > .dot {
    display: inline-block;
    transform: rotate(45deg) translate(-9px, -2px);
    transform-origin: 0 bottom;
}
header > .user-info {
    display: flex;
}

header > .user-info > a,
header > .user-info > form {
    margin-left: 5px;
}

header > .current-race {
    align-self: flex-start;
    max-width: 40%;
}

header > .current-race > a {
    border: 2px solid #1a1c20;
    border-top: none;
    background: linear-gradient(to top, #36393f 0, #25272c 100%);
    border-radius: 0 0 5px 5px;
    display: flex;
    height: 40px;
    padding: 2px 5px;
    text-decoration: none;
}

header > .current-race > a > span {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

header > .current-race > a > span:first-child {
    margin-right: 5px;
}

header > .current-race > a .goal {
    overflow: hidden;
    word-break: break-word;
}

header > .current-race > a .goal,
header > .current-race > a .timer {
    font-weight: bold;
}

header > .current-race > a .state {
    flex: 1 1 0;
}

header > .current-race > a .entrants,
header > .current-race > a .state {
    font-size: 13px;
}

header > .current-race > a .timer {
    text-align: right;
}

.bulletin {
    align-items: center;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.bulletin.hidden {
    display: none;
}
.bulletin > .message {
    background: linear-gradient(to bottom, #25272c 0, #36393f 100%);
    border: 1px solid #ddd8dd;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 30px;
}
.bulletin > .message > time {
    color: #8c898c;
    font-weight: bold;
}
.bulletin > .message > time::after {
    content: " – ";
}
.bulletin.highlight > .message {
    border-color: #26dd9a;
}
.bulletin.highlight > .message > span,
.bulletin > .message > span .highlight {
    color: #beebd1;
}
.bulletin.dangerous > .message {
    border-color: #f08080;
}
.bulletin.dangerous > .message > span,
.bulletin > .message > span .dangerous {
    color: #f08080;
}
.bulletin > .close {
    cursor: pointer;
    padding: 10px;
}

.messages > ul {
    background: #212328;
    border: 5px solid #1a1c20;
    border-radius: 10px;
    padding: 10px;
}
.messages > ul > li {
    border-top: 1px solid #08090a;
    margin-top: 5px;
    padding-top: 5px;
}
.messages > ul > li:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.container > .messages {
    padding: 30px 0 0;
}
.container > .messages .success {
    color: #beebd1;
}
.container > .messages .error {
    color: #f08080;
}

.container > .content {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    padding: 30px 0;
}
.dialog .container > .content {
    max-width: 600px;
}

.container > .content > main,
.container > .content > aside {
    background: #212328;
    border: 10px solid #1a1c20;
    border-radius: 20px;
    padding: 10px;
}

.container > .content > main {
    flex: 1 0 0;
    margin-right: 10px;
}
.container > .content > main:last-child {
    margin-right: 0;
}
.container > .content > aside {
    flex: 0 0 320px;
}

.container > .content > aside:empty {
    display: none;
}

.container > .content > main > .division,
.container > .content > aside > .division {
    border-bottom: 5px solid #1a1c20;
    padding: 10px 0;
}
.container > .content > main > .division:last-child,
.container > .content > aside > .division:last-child {
    border-bottom: none;
}

.container > .content > main > .division > :first-child,
.container > .content > aside > .division > :first-child {
    margin-top: 0;
}
.container > .content > main > .division > :last-child,
.container > .content > aside > .division > :last-child {
    margin-bottom: 0;
}

.home-search {
    align-items: center;
    display: flex;
    float: right;
}
.home-search > .home-filter {
    line-height: 1;
    margin-right: 10px;
}
.home-search > .home-sort {
    color: #8c898c;
    display: flex;
    font-size: 13px;
    line-height: 22px;
}
.home-search > .home-sort > li::after {
    content: "|\a0";
}
.home-search > .home-sort > li:last-child::after {
    content: none;
}
.home-search > .home-sort > .label::after {
    content: "\a0";
}
.home-search > .home-sort > li > span {
    color: #ddd8dd;
    font-weight: bold;
}

.home-categories {
    display: flex;
    flex-wrap: wrap;
}
.home-categories > li {
    flex: 0 1 14.285%;
    padding: 4px;
    box-sizing: border-box;
}
@media (max-width: 1200px) {
    .home-categories > li {
        flex: 0 1 16.667%;
    }
}
@media (max-width: 1100px) {
    .home-categories > li {
        flex: 0 1 20%;
    }
}
.home-categories > li > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.home-categories > li > a > .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    padding-top: 133.33%;
    margin-bottom: 5px;
    width: 100%;
}
.home-categories > li > a > .no-image {
    box-shadow: inset 0 0 0.8vw #8c898c;
    color: #8c898c;
    display: flex;
    position: relative;
}
.home-categories > li > a > .no-image > .short-name {
    align-items: center;
    border: 1px solid #8c898c;
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    justify-content: center;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
}
.home-categories > .request-category > a > .no-image {
    box-shadow: inset 0 0 10px #1da674;
}
.home-categories > .request-category > a > .no-image > .short-name {
    border-color: #1da674;
    color: #1da674;
}

.home-categories > li > a > .name {
    border-top: 1px solid #1da674;
    display: block;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    word-break: break-word;
}
.home-categories > li > a > .recordable-races,
.home-categories > li > a > .active-races,
.home-categories > li > a > .finished-races {
    font-size: 13px;
}
.home-categories > li > a > .recordable-races {
    color: #beebd1;
}
.home-categories > li > a > .active-races {
    color: #1da674;
}
.home-categories > li > a > .finished-races {
    color: #8c898c;
}

.category-intro {
    display: flex;
    padding-bottom: 10px;
}
.category-intro > .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96px;
    margin-right: 10px;
    flex: 0 0 72px;
}
.category-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.category-info > .permalink {
    font-size: 13px;
}
.category-info > .title {
    line-height: 41px;
}
.category-info > .title > .name {
    display: inline;
}
.category-info > .title > .short-name,
.category-info > .title > .favourite {
    display: inline-block;
    vertical-align: top;
}
.category-info > .title > .short-name {
    color: #8c898c;
}
.category-info > .title > .short-name::before {
    content: '(';
}
.category-info > .title > .short-name::after {
    content: ')';
}
.category-info > .title > .favourite.undo {
    display: none;
}
.category-info > .title > .favourite > button {
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 0;
    vertical-align: middle;
    width: 24px;
}

.category-info {
    align-items: baseline;
    display: flex;
    flex-grow: 1;
}

.category-info > .short-name {
    color: #8c898c;
    margin-left: 10px;
}

.category-info > .short-name::before {
    content: '(';
}
.category-info > .short-name::after {
    content: ')';
}
.category-info + .category-meta {
    margin-left: 10px;
}
.meta-user-list {
    font-size: 13px;
    white-space: normal;
}
.meta-user-list .user-pop > .scrim {
    line-height: inherit;
}
.meta-user-list > a::after,
.meta-user-list > span::after {
    content: ", ";
    height: auto;
    margin-left: 0;
    width: auto;
}
.meta-user-list > a:last-child::after,
.meta-user-list > span:last-child::after {
    content: none;
}

.category-races > ol {
    display: flex;
    flex-wrap: wrap;
}
.category-races > ol > li {
    flex: 0 1 100%;
}
.category-races > .pagination {
    margin-left: 5px;
    margin-right: 5px;
}
.category-nav {
    align-items: center;
    display: flex;
    float: right;
}
.category-nav + .category-nav {
    margin-right: 10px;
}
.category-nav .material-icons {
    font-size: 22px;
}

.race-list > ol > li {
    display: flex;
    flex-wrap: wrap;
}
.race-list.current > ol > li {
    flex-wrap: nowrap;
}
.race-list > ol > li > time {
    box-sizing: border-box;
    color: #8c898c;
    flex: 1 0 100%;
    font-size: 13px;
    padding: 5px 10px 0;
}
.race-list > ol > li > .race {
    border: 5px solid #1a1c20;
    border-radius: 10px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}
.race-list > ol > li > time + .race {
    margin-top: 0;
}
.race-list > ol > li > .race > .main {
    display: flex;
}
.race-list > ol > li > .race > .main > span {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.race-list > ol > li > .race > .main > .right {
    text-align: right;
}

.race-list > ol > li > .race .goal,
.race-list > ol > li > .race .timer {
    font-size: 20px;
    font-weight: bold;
}
.race-list > ol > li > .race .goal {
    height: 1.375em;
    overflow: hidden;
    word-break: break-word;
}


.race-list > ol > li > .race .state > .recorded {
    display: inline-flex;
    font-size: 14px;
}
.race-list > ol > li > .race .state > .recorded::before {
    content: '(';
}
.race-list > ol > li > .race .state > .recorded::after {
    content: ')';
}
.race-list > ol > li > .race > .info {
    color: #8c898c;
    font-size: 13px;
    height: 1.375em;
    overflow: hidden;
    word-break: break-word;
}
.race-list > ol > li > .watch-live {
    border: 5px solid #1a1c20;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 5px 5px 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.race-list > ol > li > .watch-live > .material-icons {
    font-size: 27.5px;
}
.race-list > ol > li > .watch-live > span {
    font-weight: bold;
}

.category-side-info > :first-child {
    margin-top: 0;
}

.race-intro {
    display: flex;
}
.race-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-bottom: 10px;
}

.race-info > .category > .name {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
}
.race-info > .category > .short-name {
    color: #8c898c;
}
.race-info > .category > .short-name::before {
    content: '(';
}
.race-info > .category > .short-name::after {
    content: ')';
}
.race-info > .goal {
    font-size: 20px;
    word-break: break-word;
}
.race-info > .info {
    color: #8c898c;
    word-break: break-word;
}

.race-entrants > ol > .no-entrants {
    border-top: 1px solid #08090a;
    padding: 5px;
    text-align: center;
}

.entrant-row {
    border-top: 1px solid #08090a;
    display: flex;
    padding: 5px;
}
.entrant-row .material-icons {
    font-size: 18px;
}
.entrant-row > .place {
    flex: 0 0 50px;
    text-align: center;
}
.entrant-row > .user {
    display: flex;
    flex-grow: 1;
}
.entrant-row > .user > .user-pop {
    height: 22px;
}
.entrant-row > .user > .stream > a {
    display: block;
    margin-left: 5px;
}
.entrant-row > .user > .stream > a > img {
    height: 22px;
    position: relative;
        top: 1px;
    vertical-align: top;
}
.entrant-row > .user > .comment {
    border-radius: 6px;
    cursor: default;
    display: flex;
    max-width: 33vw;
    padding: 0 5px;
}
.entrant-row > .user > .comment.open {
    background: #18191d;
    border: 3px solid #17181b;
    margin: -3px;
    z-index: 100;
}
.entrant-row > .user > .comment > i {
    margin-top: 2px;
}
.entrant-row > .user > .comment > .text {
    display: none;
    opacity: 0;
    padding-left: 5px;
    word-break: break-word;
    z-index: 1;
}
.entrant-row > .user > .comment.open > .text {
    display: block;
    opacity: 1;
}
.entrant-row > .status {
    flex: 0 0 100px;
}
.entrant-row > .status-or-time {
    display: none;
}
.entrant-row > .finish-time {
    flex: 0 0 80px;
    text-align: right;
}
.entrant-row > .score,
.entrant-row > .score-change {
    align-items: center;
    color: #8c898c;
    display: flex;
    flex: 0 0 50px;
    font-size: 13px;
    justify-content: flex-end;
}
.entrant-row > .score-change.positive {
    color: #a0e9a0;
}
.entrant-row > .score-change.positive::before {
    content: '+';
}
.entrant-row > .score-change.negative {
    color: #f08080;
}
.entrant-row > .score-change.negative::before {
    content: '−';
}
.entrant-row > .monitor-actions {
    display: flex;
}
.entrant-row > .monitor-actions > li {
    margin-right: 5px;
}
.entrant-row > .monitor-actions > li > form > .btn {
    background: #17181b;
    border: none;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    padding: 0;
    vertical-align: top;
    width: 22px;
}
.entrant-row > .monitor-actions > li > form > .btn:hover {
    background-color: #3b4b47;
    color: white;
}
.entrant-row > .monitor-actions > li > form > .btn > .material-icons {
    height: 22px;
    line-height: 22px;
}
.race-entrants > .count {
    border-top: 1px solid #08090a;
    padding: 5px;
    text-align: right;
}

.race-monitor {
    margin-top: 10px;
}
.race-monitor:empty {
    display: none;
}
.race-monitor > ul {
    display: flex;
}
.race-monitor > ul > li {
    margin-left: 10px;
}
.race-monitor > ul > li:first-child {
    margin-left: 0;
}
.race-monitor > ul > li > a {
    display: block;
}
.race-monitor > ul > .invite > form {
    display: flex;
}
.race-monitor > ul > .invite > form label {
    display: none;
}
.race-monitor > ul > .invite > form input {
    width: 180px;
}
.race-monitor > ul > .invite > form button {
    margin-left: 5px;
}
.race-monitor > ul > .state {
    margin-left: 8px;
}
.race-monitor > ul > .state > form > button {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    height: 33px;
    padding: 0;
}
.race-monitor > ul > .state > form > button > span {
    margin-left: 2px;
}
.btn.dangerous,
.dangerous .btn {
    border-color: #f08080;
}
.btn.dangerous:hover,
.dangerous .btn:hover {
    color: #f08080;
}
.btn.dangerous:disabled,
.btn.dangerous:disabled:hover,
.dangerous .btn:disabled,
.dangerous .btn:disabled:hover {
    border-color: #666;
    color: #666;
}
.race-status {
    background: linear-gradient(to bottom, #1e1f24 0, #191a1e 100%);
    border-radius: 10px;
}
@keyframes go {
    0% {
        box-shadow: inset 0 0 10px transparent;
    }
    10% {
        box-shadow: inset 0 0 10px #26dd9a;
        color: #26dd9a;
    }
    100% {
        box-shadow: inset 0 0 10px transparent;
    }
}
.race-status.go {
    animation: go 1s linear none;
}
.race-status > .timer {
    display: block;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.race-status > .state {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5px;
    text-align: center;
}
.race-status > .state > .value {
    font-size: 20px;
}
.race-status > .state > .help {
    color: #8c898c;
    font-size: 13px;
}

.race-meta {
    margin: 0 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}
dt {
    color: #8c898c;
    display: inline-block;
    border-bottom: 1px solid #1da674;
    font-size: 13px;
    margin-bottom: 4px;
    white-space: nowrap;
}
dt::after {
    content: ':';
}
dd {
    margin-left: 22px;
}

footer {
    display: flex;
    justify-content: space-between;
    color: #8c898c;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer > ul {
    display: flex;
}
footer > ul > li {
    display: flex;
}
footer > ul > li::before {
    content: '|';
    padding: 0 5px;
}
footer > ul > li:first-child::before {
    content: none
}

.layout-form > ul > li {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-bottom: 1px solid #111;
}

.layout-form > ul > li > .errorlist {
    color: #f08080;
    font-size: 13px;
}

.layout-form > ul > li > .errorlist,
.layout-form > ul > li > .input,
.layout-form > ul > li > input,
.layout-form > ul > li > select,
.layout-form > ul > li > textarea,
.layout-form > ul > li > .helptext {
    width: 100%;
}

.layout-form > ul > li > select,
.layout-form > ul > li > input[type='checkbox'] {
    margin-left: 10px;
    width: auto;
}

.layout-form > ul > li > .helptext {
    color: #8c898c;
    font-size: 13px;
}
.layout-form > ul > li > .file-initial,
.layout-form > ul > li > .file-clear {
    margin-left: 5px;
}
.layout-form > ul > li > .file-change {
    flex: 0 0 100%;
}

.layout-form > ul > li > label + ul {
    margin-left: 5px;
}

.layout-form > button {
    margin-top: 10px;
}

.login-form > .submit-row {
    align-items: center;
    display: flex;
    margin-top: 10px;
}
.login-form > .submit-row > .password-reset-link {
    font-size: 14px;
    margin-left: 10px;
}

.pagination {
    border: 3px solid #1a1c20;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
}
.pagination > .step-links {
    display: flex;
}
.pagination > .step-links > a,
.pagination > .step-links > span {
    background: #1e1f24;
    border-left: 3px solid #1a1c20;
    padding: 5px;
    flex: 0 0 15%;
}
.pagination > .step-links > a {
    color: #26dd9a;
    text-decoration: none;
    transition: color 0.2s;
}
.pagination > .step-links > a:hover {
    color: #beebd1;
}
.pagination > .step-links > span {
    cursor: default;
}
.pagination > .step-links > .current {
    background: none;
    cursor: unset;
    flex: 1 1 auto;
}
.pagination > .step-links > :first-child {
    border-left: none;
}

.category-leaderboards > ol {
    display: flex;
    margin-top: 10px;
}
.category-leaderboards > ol > li {
    box-sizing: border-box;
    border: 5px solid #1a1c20;
    border-radius: 10px;
    flex: 0 1 50%;
    margin-left: 10px;
}
@media (max-width: 1060px) {
    .category-leaderboards > ol {
        flex-wrap: wrap;
    }
    .category-leaderboards > ol > li {
        flex: 0 1 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}
.category-leaderboards > ol > li:first-child {
    margin-left: 0;
    margin-top: 0;
}
.category-leaderboards > ol > li > .header {
    align-items: center;
    background: #1a1c20;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.category-leaderboards > ol > li > .header > .num-races {
    color: #8c898c;
    font-size: 13px;
}
.category-leaderboards > ol > li > ol > li {
    border-top: 1px solid #08090a;
    display: flex;
    line-height: 32px;
    padding: 5px;
}
.category-leaderboards > ol > li > ol > li > .place {
    flex: 0 0 50px;
    text-align: center;
}
.category-leaderboards > ol > li > ol > li > .user {
    flex: 1 1 auto;
}
.category-leaderboards > ol > li > ol > li > .extra {
    align-items: flex-end;
    display: flex;
    flex: 0 0 80px;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
}
.category-leaderboards > ol > li > ol > li > .extra > span {
    align-items: center;
    display: flex;
    line-height: 16px;
}
.category-leaderboards > ol > li > ol > li > .extra > span > .material-icons {
    font-size: 14px;
    line-height: 16px;
    margin-right: 2px;
}
.category-leaderboards > ol > li > ol > li > .extra > .best-time {
    color: #ebdfbe;
}
.category-leaderboards > ol > li > ol > li > .extra > .races {
    color: #8c898c;
}

.layout-form > .permission-list {
    border-top: 1px solid #111;
    margin: 10px 50px 20px;
}

.layout-form > .permission-list > li {
    padding: 10px 5px;
}

.layout-form > .controls {
    display: flex;
    justify-content: space-around;
}

.auth-token-list > li {
    align-items: center;
    background: #1a1c20;
    border: 5px solid #1a1c20;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    margin-top: 10px;
}
.auth-token-list > .empty {
    background: none;
    border: none;
    padding: 0;
}
.auth-token-list > li > .app {
    font-weight: bold;
}
.auth-token-list > li > form {
}
.auth-token-list > li > form > .btn {
    padding: 2px;
    margin: 5px;
}
.auth-token-list > li > form > .btn > .material-icons {
    vertical-align: top;
}
.auth-token-list > .scopes {
    border: 5px solid #1a1c20;
    border-top: none;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
}
.auth-token-list > .scopes > li {
    border-top: 1px solid #1a1c20;
    padding: 5px;
}

.nav-tabs {
    border: 4px solid #1a1c20;
    border-radius: 6px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}
.nav-tabs > li {
    border-left: 2px solid #1a1c20;
    flex: 1 1 0;
}
.nav-tabs > li:first-child {
    border-left: none;
}
.nav-tabs > li > a,
.nav-tabs > li > span {
    display: block;
    padding: 5px;
}
.nav-tabs > li > a {
    color: #26dd9a;
    text-decoration: none;
    transition: color 0.2s;
}
.nav-tabs > li > a:hover {
    color: #beebd1;
}
.nav-tabs > li > span {
    cursor: default;
}
.nav-tabs > .current > a,
.nav-tabs > .current > span {
    background: #1e1f24;
    color: #ddd8dd;
}

.copied-to-clipboard {
    background: #1e1f24;
    border: 3px solid #1a1c20;
    border-radius: 6px;
    color: #beebd1;
    font-size: 13px;
    padding: 3px;
    pointer-events: none;
    position: fixed;
    white-space: nowrap;
    z-index: 1000;
}
.copied-to-clipboard::before {
    content: 'Copied to clipboard!';
}

.ui-menu {
    background-color: #25272c;
    border: 3px solid #1a1c20;
    border-radius: 6px;
    margin-top: 2px;
}
.ui-menu .ui-state-active {
    color: #beebd1;
    margin: 0;
}
