#id_goal {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
#id_goal > li {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 33.33%;
    padding: 10px;
}
#id_goal > li:first-child {
    /* moves "Custom" to the end */
    order: 1;
}
#id_goal > li > label {
    display: flex;
    flex-grow: 1;
}
#id_goal > li > label > input {
    display: none;
}
#id_goal > li > label > span {
    align-items: center;
    background: linear-gradient(to bottom, #1e1f24 0, #191a1e 100%);
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
}
#id_goal > li > label > input:checked + span {
    box-shadow: inset 0 0 10px #26dd9a;
    color: #26dd9a;
}
.duration-input input {
    width: 60px;
}
.toggle-additional {
    cursor: default;
    line-height: 30px;
}
.toggle-additional .material-icons {
    line-height: 30px;
    vertical-align: top;
}

@media only screen and (max-width: 600px) {
    #id_goal > li {
        flex-basis: 50%;
        padding: 5px;
    }
    #id_goal > li > label > span {
        font-size: 16px;
        padding: 10px;
    }
}
