.container > .content > main > h3:first-child,
.container > .content > aside > h3:first-child {
    margin-top: 0;
}

.user-profile {
    align-items: start;
    display: flex;
    flex-direction: column;
}
.user-profile > .user-pop {
    color: #eee;
    font-size: 32px;
    margin-top: 5px;
}
.user-profile > .user-pop > .avatar {
    width: 64px;
    height: 64px;
}
.user-profile > .user-pop > .scrim {
    font-size: 26px;
}
.user-profile > .user-pop > .pronouns {
    font-size: 14px;
    line-height: 22px;
}
.user-profile > .supporter-badge {
    background: linear-gradient(to top right, #cca32a 0, #ffea99 100%);
    background-clip: padding-box;
    border-radius: 5px;
    cursor: default;
    margin-top: 10px;
}
.user-profile > .supporter-badge > div {
    align-items: center;
    border-radius: inherit;
    background: #1a1c20;
    display: flex;
    margin: 1px;
    padding: 3px 5px;
}
.user-profile > .supporter-badge > div > .material-icons,
.user-profile > .supporter-badge > div > span {
    background: linear-gradient(to top right, #cca32a 0, #ffea99 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.user-profile > .supporter-badge > div > .material-icons {
    margin-right: 3px;
}
.user-profile > .twitch-channel {
    display: flex;
    margin-top: 10px;
}

.user-profile > .twitch-channel > img {
    height: 22px;
    margin-right: 5px;
}

.user-profile > .bio {
    margin: 10px 0 0;
    white-space: pre-wrap;
    word-break: break-word;
}

.race-list > ol > li > .race {
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    margin: 10px 0 0;
}

.race-entrants {
    border: 5px solid #1a1c20;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    flex: 1 0 100%;
    margin-bottom: 5px;
}

.entrant-row {
    border-top: 1px solid #1a1c20;
}

.entrant-row.highlight {
    background: #1a1c20;
}
.entrant-row.highlight .user-pop > .pronouns {
    background: #212328;
}
.entrant-row.highlight > .user > .comment.open {
    background-color: #212328;
    border-color: #1a1c20;
    margin: -3px;
}

.user-categories > li {
    border-top: 1px solid #1a1c20;
}
.user-categories > li:first-child {
    border-top: none;
}
.user-categories > li > a,
.user-categories > li > span {
    display: flex;
    padding: 5px 0;
    text-decoration: none;
}
.user-categories > li .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 72px;
    margin-right: 5px;
    flex: 0 0 54px;
}
.user-categories > li .info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.user-categories > li .info > .times-entered {
    color: #8c898c;
    font-size: 15px;
}
