{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}{{ site_info.title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'jquery-ui.structure.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'racetime/style/base.css' %}">
        {% block css %}{% endblock %}

        {% block site_head %}{% endblock %}
        <meta name="theme-color" content="#26dd9a">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ site_info.meta_site_name }}">
        {% block meta %}
            <meta name="description" content="{{ site_info.meta_description }}">
            <meta property="og:title" content="{{ site_info.title }}">
            <meta property="og:description" content="{{ site_info.meta_description }}">
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}
            {% block header %}
                <header>
                    <div class="title">
                        <h1><a href="/">{{ site_info.header_text|safe }}</a></h1>
                    </div>
                    {% block nocurrentrace %}
                        {% if user.is_authenticated and user.active_race_entrant %}
                            <div class="current-race">
                                {% include 'racetime/pops/race_row.html' with race=user.active_race_entrant.race nocontext=True %}
                            </div>
                        {% endif %}
                    {% endblock nocurrentrace %}
                    <div class="user-info">
                        {% if user.is_authenticated %}
                        {% include 'racetime/pops/user.html' with hide_pronouns=True %}
                        <a href="{% url 'edit_account' %}" class="btn flat-right">Settings</a>
                        <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        <button type="submit" class="btn flat-left">Log out</button>
                        </form>
                        {% else %}
                        <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" class="btn flat-right">Log in</a>
                        <a href="{% url 'create_account' %}?next={{ request.get_full_path|urlencode }}" class="btn flat-left">Create account</a>
                        {% endif %}
                    </div>
                </header>
            {% endblock %}
            <div class="container">
                {% if bulletins %}
                    <div class="bulletins">
                        {% for bulletin in bulletins %}
                        <div id="{{ bulletin.hashid }}" class="bulletin hidden {{ bulletin.class_names }}">
                            <div class="message">
                                <time class="onlydate" datetime="{{ bulletin.visible_from.isoformat }}">
                                    {{ bulletin.visible_from|date }}
                                </time>
                                <span>{{ bulletin.message|safe }}</span>
                            </div>
                            <i class="close action-close material-icons" title="Hide this message">close</i>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if messages %}
                <div class="messages">
                    <ul>
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="content">
                    <main>
                        {% block main %}
                        {% endblock %}
                    </main>
                    <aside>{% block aside %}{% endblock %}</aside>
                </div>
            </div>
            {% block footer %}
                <footer>
                    <ul>
                        {% for name, url, cls in site_info.footer_links %}
                        <li>
                            <a class="{{ cls }}" href="{{ url }}" target="_blank">{{ name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <span>
                        {{ site_info.footer_text }}
                    </span>
                </footer>
            {% endblock %}
        {% endblock %}
        <script src="{% static 'jquery.min.js' %}"></script>
        <script src="{% static 'jquery-ui.min.js' %}"></script>
        <script src="{% static 'jquery.form.min.js' %}"></script>
        <script src="{% static 'racetime/script/base.js' %}"></script>
        {% block js %}{% endblock %}
        {% for script in site_info.extra_scripts %}
            {{ script|safe }}
        {% endfor %}
    </body>
</html>
