{% extends 'racetime/base.html' %}

{% block title %}
    Edit category | {{ category.name }} |
{% endblock %}

{% block main %}
    {% include 'racetime/category/manage_tabs.html' with current='edit_category' %}
    <ol class="breadcrumbs">
        <li><a href="{{ category.get_absolute_url }}">{{ category.slug }}</a></li>
    </ol>
    <h2>Edit category</h2>
    <p>
        With the form below, you can change basic details about this category,
        such as its cover image, info, and stream settings. For more details
        on how category management works, please refer to our
        <a href="https://github.com/racetimeGG/racetime-app/wiki/Category-management-and-moderation" target="_blank">management guide</a> on the wiki.
    </p>
    <form class="category-form layout-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>{{ form.as_ul }}</ul>
        <button class="btn" type="submit">Submit</button>
    </form>
    {% if user.is_staff %}
        {% if not category.archived %}
        <h3>Archive category</h3>
        <p class="help">
            This will archive the category, preventing new races from being made in it but leaving it in public view.
        </p>
        <form class="layout-form" action="{% url 'category_archive' category=category.slug %}" method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Archive category</button>
        </form>
        {% else %}
        <h3>Restore category</h3>
        <p class="help">
            This will restore the archive, bringing it out of the archived section and allowing new
            races to be created in it.
        </p>
        <form class="layout-form" action="{% url 'category_restore' category=category.slug %}" method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Restore category</button>
        </form>
        {% endif %}

        {% if category.active %}
        <h3 class="dangerous">
            Deactivate category
        </h3>
        <p class="help">
            This will make the category inactive, removing it from public view.
            Make sure you're really really sure you really want to do this. Really.
        </p>
        <form class="layout-form dangerous" action="{% url 'category_deactivate' category=category.slug %}" method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Deactivate category</button>
        </form>
        {% else %}
            <h3 class="dangerous">
                Reactivate category
            </h3>
            <p class="help">
                This will make the category active, bringing it back into
                public view.
            </p>
            <form class="layout-form dangerous" action="{% url 'category_reactivate' category=category.slug %}" method="post">
                {% csrf_token %}
                <button class="btn" type="submit">Reactivate category</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
