{% extends 'racetime/base.html' %}

{% block css %}
    {% if can_moderate %}
        <style>
        .race-list.past .recordable {
            box-shadow: inset 0 0 3px -1px #a6ebc4;
        }
        .race-list.past .recordable .recorded {
            color: #a6ebc4;
        }
        </style>
    {% endif %}
{% endblock %}
{% block title %}
    {{ category.name }} |
{% endblock %}
{% block meta %}
    <meta property="og:title" content="All races for {{ category.name }}">
    <meta name="description" content="See all races and information for {{ category.short_name }}, or start your own race room.">
    <meta property="og:description" content="See all races and information for {{ category.short_name }}, or start your own race room.">
    {% if meta_image %}
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}
{% endblock %}

{% block main %}
    {% include 'racetime/category/intro.html' %}
    {% include 'racetime/category/tabs.html' with current='category' %}
    <h3>Current races</h3>
    {% include 'racetime/category/buttons.html' %}
    <div class="category-races race-list current">
        <ol>
            {% for race in current_races %}
                <li>
                    <span class="race-detail">
                        <span class="title">
                            <span class="slug">{{ race.slug }}</span>
                            {% if race.unlisted %}
                                <span class="unlisted" title="Only moderators can see this. Users may access an unlisted race if they have the direct link.">(unlisted)</span>
                            {% endif %}
                        </span>
                    </span>
                    <span class="race-row">
                        {% include 'racetime/pops/race_row.html' %}
                        {% if not race.partitionable and not race.hide_entrants %}
                            <a class="watch-live" href="{% url 'race_spectate' category=race.category.slug race=race.slug %}">
                                <i class="material-icons">videocam</i>
                                <span>Watch live</span>
                            </a>
                        {% else %}
                            <span class="watch-live disabled" title="This race's entrants are hidden until the race ends.">
                                <i class="material-icons">videocam_off</i>
                                <span>Watch live</span>
                            </span>
                        {% endif %}
                    </span>
                </li>
            {% empty %}
                <li>
                    No current races in this category.
                </li>
            {% endfor %}
        </ol>
    </div>
    <h3 id="past">Past races</h3>
    <div class="category-races race-list past">
        {% include 'racetime/pops/paginator.html' with page=past_races fragment='past' %}
        <ol>
            {% for race in past_races %}
                <li>
                    <span class="race-detail">
                        <span class="title">
                            <span class="slug">{{ race.slug }}</span>
                            {% if race.unlisted %}
                                <span class="unlisted" title="Only moderators can see this. Users may access an unlisted race if they have the direct link.">(unlisted)</span>
                            {% endif %}
                        </span>
                        <time class="datetime" datetime="{{ race.started_at.isoformat }}" title="Date/time race started at">
                            {{ race.started_at }}
                        </time>
                    </span>
                    <span class="race-row">
                        {% include 'racetime/pops/race_row.html' %}
                    </span>
                </li>
            {% empty %}
                <li>
                    {% if filter_by == 'recordable' %}
                        There are no races awaiting moderation.
                    {% else %}
                        No completed races in this category.
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
        {% include 'racetime/pops/paginator.html' with page=past_races fragment='past' %}
    </div>
{% endblock %}

{% block aside %}{% if category.info %}
    <div class="category-side-info">
        {{ category.info|safe }}
    </div>
{% endif %}{% endblock %}
