{% extends 'racetime/base.html' %}

{% block title %}
    {{ category.name }} (leaderboards) |
{% endblock %}
{% block meta %}
    <meta property="og:title" content="Leaderboards for {{ category.name }}">
    <meta name="description" content="Current user rankings for {{ category.short_name }} races.">
    <meta property="og:description" content="Current user rankings for {{ category.short_name }} races.">
    {% if meta_image %}
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}
{% endblock %}

{% block main %}
    {% include 'racetime/category/intro.html' %}
    {% include 'racetime/category/tabs.html' with current='leaderboards' %}
    <h3>Leaderboards</h3>
    <p class="help">
        Note: leaderboards are currently in beta. The ranking algorithm is,
        well, a bit of a potato. A more well thought-out calculation system
        will be implemented later, but you can get a feel for general race
        performance with the scoring below.
    </p>
    <div class="category-leaderboards">
        {% include 'racetime/pops/paginator.html' with page=leaderboards %}
        <ol>
            {% for goal, rankings in leaderboards %}
                <li>
                    {% include 'racetime/category/leaderboard.html' %}
                </li>
            {% endfor %}
        </ol>
        {% include 'racetime/pops/paginator.html' with page=leaderboards %}
    </div>
{% endblock %}
