{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'racetime/style/emote_list.css' %}">
<style>
.container {
    padding: 0;
}
.container > .content {
    padding: 0;
}
.container > .content > main {
    border: none;
    flex-grow: 1;
    margin: 0;
    padding-top: 5px;
}
.breadcrumbs {
    margin-bottom: 5px;
}
</style>
{% endblock %}

{% block nocurrentrace %}{% endblock nocurrentrace %}
{% block header %}{% endblock header %}
{% block footer %}{% endblock footer %}

{% block title %}
    Emotes | {{ category.name }} |
{% endblock %}

{% block main %}
    <ol class="breadcrumbs">
        <li><a href="{{ category.get_absolute_url }}">{{ category.slug }}</a></li>
    </ol>
    <ul class="emote-list">
        {% for emote in emote_list %}
            <li>
                <img src="{{ emote.image.url }}" alt="{{ emote.name }}" title="{{ emote.name }}">
                <span class="name">{{ emote.name }}</span>
            </li>
        {% empty %}
            <li class="help">
                No custom emotes available. Ask the category owners to add some!
            </li>
        {% endfor %}
    </ul>
{% endblock %}
