{% extends 'racetime/base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'racetime/script/home.js' %}"></script>
{% endblock %}

{% block main %}
    {% if not user.is_authenticated %}
    <h3 style="margin-top: 0">Welcome</h3>
    <p style="margin-top: 0">
        {{ site_info.title }} is a website for organising races online, with a
        focus on video games and speedruns. Why not jump in and join a race?
        <a href="{% url 'login_or_register' %}">Create an account</a> to get
        started.
    </p>
    {% endif %}
    <div class="home-search">
        <input class="home-filter" placeholder="Filter categories…">
        <ul class="home-sort">
            <li class="label">Sort by:</li>
            <li>
                {% if sort == 'default' %}
                    <span>Most popular</span>
                {% else %}
                    <a href="{% url 'home' %}">Most popular</a>
                {% endif %}
            </li>
            <li>
                {% if sort == 'name' %}
                    <span>Name A-Z</span>
                {% else %}
                    <a href="{% url 'home' %}?sort=name">Name A-Z</a>
                {% endif %}
            </li>
            {% if show_recordable %}
                <li>
                    {% if sort == 'recordable' %}
                        <span>Recordable</span>
                    {% else %}
                        <a href="{% url 'home' %}?sort=recordable">Recordable</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
    {% if favourites %}
        <h3 style="margin-top: 0">Favourites</h3>
        <ol class="home-categories">
            {% for category in favourites %}
                {% include 'racetime/home/category.html' %}
            {% endfor %}
        </ol>
    {% endif %}
    <h3 {% if not favourites %}style="margin-top: 0"{% endif %}>Race categories</h3>
    {% if not categories and show_dev_intro %}
        <p>
            Hello! You have successfully set up a development copy of the site.
            To add categories and other data, you should run the createsuperuser
            and fixtures commands in the <a href="https://github.com/racetimeGG/racetime-app#quick-setup-guide" target="_blank">Quick setup guide</a>.
        </p>
    {% endif %}
    <ol class="home-categories">
        {% for category in categories %}
            {% include 'racetime/home/category.html' %}
        {% endfor %}
        {% if user.is_authenticated %}
        <li class="request-category">
            <a href="{% url 'request_category' %}">
                <span class="image no-image">
                    <span class="short-name">+ new</span>
                </span>
                <span class="name">Request a new game/category</span>
            </a>
        </li>
        {% endif %}
    </ol>
{% endblock %}
