{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
    <style>
    .home-search-mobile {
        display: none;
    }
    @media only screen and (max-width: 600px) {
        .home-search-mobile {
            display: block;
            margin-bottom: 5px;
        }
    }
    </style>
{% endblock %}

{% block main %}
    {% if not user.is_authenticated %}
    <h3 style="margin-top: 0">Welcome</h3>
    <p style="margin-top: 0">
        {{ site_info.title }} is a website for organising races online, with a
        focus on video games and speedruns. Why not jump in and join a race?
        <a href="{% url 'login_or_register' %}">Create an account</a> to get
        started.
    </p>
    {% endif %}
    <div class="home-search-mobile">
        {% include 'racetime/forms/search.html' %}
    </div>
    <div class="search-filter home-search">
        <ul>
            <li class="label">Sort by:</li>
            <li>
                {% if sort == 'default' %}
                    <span>Most popular</span>
                {% else %}
                    <a href="{% url 'home' %}">Most popular</a>
                {% endif %}
            </li>
            <li>
                {% if sort == 'name' %}
                    <span>Name A-Z</span>
                {% else %}
                    <a href="{% url 'home' %}?sort=name">Name A-Z</a>
                {% endif %}
            </li>
            {% if show_recordable %}
                <li>
                    {% if sort == 'recordable' %}
                        <span>Recordable</span>
                    {% else %}
                        <a href="{% url 'home' %}?sort=recordable">Recordable</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
    <h3 style="margin-top: 0">Favourites</h3>
    {% if favourites %}
        <ol class="home-categories">
            {% for category in favourites %}
                {% include 'racetime/home/category.html' %}
            {% endfor %}
        </ol>
    {% else %}
        <p class="help">
            You have not added any favourites yet. Tap the
            <i class="material-icons" style="color: #ddd; font-size: 18px; vertical-align: middle">star_border</i> icon on a category page
            to add it here.
        </p>
    {% endif %}
    <h3 {% if not favourites %}style="margin-top: 0"{% endif %}>Race categories</h3>
    {% if not categories and show_dev_intro %}
        <p>
            Hello! You have successfully set up a development copy of the site.
            To add categories and other data, you should run the createsuperuser
            and fixtures commands in the <a href="https://github.com/racetimeGG/racetime-app#quick-setup-guide" target="_blank">Quick setup guide</a>.
        </p>
    {% endif %}
    <ol class="home-categories">
        {% for category in categories %}
            {% include 'racetime/home/category.html' %}
        {% endfor %}
        {% if user.is_authenticated %}
        <li class="request-category">
            <a href="{% url 'request_category' %}">
                <span class="image no-image">
                    <span class="short-name">+ new</span>
                </span>
                <span class="name">Request a new game/category</span>
            </a>
        </li>
        {% endif %}
    </ol>
{% endblock %}

{% block aside %}
    {% include 'racetime/forms/search.html' %}
    {% if user.is_authenticated %}
        <div class="home-links">
            <ul>
                <li>
                    <a href="{% url 'request_category' %}">
                        <i class="material-icons">add_box</i>
                        <span>Request a new game/category</span>
                    </a>
                </li>
            </ul>
        </div>
        <h3>Past races</h3>
        <div class="race-list">
            <ol>
                {% for entrant in recent_entries %}
                    <li>
                        <span class="race-detail">
                            <span class="title">
                                <span class="slug">{{ entrant.race.slug }}</span>
                            </span>
                            <time class="datetime" datetime="{{ entrant.race.started_at.isoformat }}" title="Date/time race started at">
                                {{ entrant.race.started_at }}
                            </time>
                        </span>
                        <span class="race-row">
                            {% include 'racetime/pops/race_row.html' with race=entrant.race aside=True nocontext=True %}
                        </span>
                    </li>
                {% empty %}
                    <li>
                        No completed races.
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        {{ super }}
    {% endif %}
{% endblock %}
