{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'racetime/style/moderator_list.css' %}">
{% endblock %}

{% block title %}
    Moderators &amp; ownership | {{ category.name }} |
{% endblock %}

{% block main %}
    {% include 'racetime/category/manage_tabs.html' with current='category_mods' %}
    <ol class="breadcrumbs">
        <li><a href="{{ category.get_absolute_url }}">{{ category.slug }}</a></li>
    </ol>
    <h2>Moderators &amp; ownership</h2>
    <p>
        Set which users hold ownership, or can moderate this category.
    </p><p>
        Category owners have full control over the category's details, can
        add/remove other owners and moderators, manage goals and bots. You can
        add other owners, but only racetime.gg staff can remove owners (other
        than themselves). If you choose to remove yourself as owner, you will
        <strong>immediately</strong> lose access to manage this category. Be careful!
    </p><p>
        Moderators have the ability to record races, disqualify entrants and
        can also perform any monitor actions. You can add and remove as many
        moderators as you like.
    </p>
    <div class="division">
        <h3>Owners</h3>
        <p class="help">
            Users with ownership of this category. Owners have full control over
            this category, and can manage everything within.
        </p>
        <ul class="mod-list">
            {% for owner in owners %}
                <li>
                    {% include 'racetime/pops/user.html' with user=owner hide_pronouns=True %}
                    {% if owner == user or can_remove_owners %}
                        <form action="{% url 'category_owners_remove' category=category.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{ owner.hashid }}">
                            <button class="btn dangerous" type="submit">
                                {% if owner == user %}Leave{% else %}Remove{% endif %}
                            </button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <h3>Add a new owner</h3>
        <p class="help">
            Start typing in a name to add an owner to the list above.
            Remember that owners <strong>can only be removed by staff</strong>.
        </p>
        <form class="add-owner-form layout-form" action="{% url 'category_owners_add' category=category.slug %}" method="post">
            {% csrf_token %}
            {% include 'racetime/forms/user_select.html' %}
            <button class="btn" type="submit">Add owner</button>
        </form>
    </div>
    <div class="division">
        <h3>Moderators</h3>
        <p class="help">
            Users with moderator permission within this category.
        </p>
        <ul class="mod-list">
            {% for mod in moderators %}
                <li>
                    {% include 'racetime/pops/user.html' with user=mod hide_pronouns=True %}
                    <form action="{% url 'category_mods_remove' category=category.slug %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{ mod.hashid }}">
                        <button class="btn dangerous" type="submit">Remove</button>
                    </form>
                </li>
            {% empty %}
                <li>
                    There are no moderators assigned to this category.
                </li>
            {% endfor %}
        </ul>
        <h3>Add a moderator</h3>
        <p class="help">
            Start typing in a name to add a moderator to the list above.
        </p>
        <form class="add-moderator-form layout-form" action="{% url 'category_mods_add' category=category.slug %}" method="post">
            {% csrf_token %}
            {% include 'racetime/forms/user_select.html' %}
            <button class="btn" type="submit">Add moderator</button>
        </form>
    </div>
{% endblock %}
