{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'racetime/style/moderator_list.css' %}">
{% endblock %}

{% block title %}
    Moderators &amp; ownership | {{ category.name }} |
{% endblock %}

{% block main %}
    {% include 'racetime/category/manage_tabs.html' with current='category_mods' %}
    <ol class="breadcrumbs">
        <li><a href="{{ category.get_absolute_url }}">{{ category.slug }}</a></li>
    </ol>
    <h2>Moderators &amp; ownership</h2>
    <h3>Moderators</h3>
    <p class="help">
        Users with moderator permission within this category.
    </p>
    <ul class="mod-list">
        {% for user in moderators %}
            <li>
                {% include 'racetime/pops/user.html' with hide_pronouns=True %}
                <form action="{% url 'category_mods_remove' category=category.slug %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.hashid }}">
                    <button class="btn dangerous" type="submit">Remove</button>
                </form>
            </li>
        {% empty %}
            <li>
                There are no moderators assigned to this category.
            </li>
        {% endfor %}
    </ul>
    <h3>Add a moderator</h3>
    <p class="help">
        Start typing in a name to add a moderator to the list above.
    </p>
    <form class="add-moderator-form layout-form" action="{% url 'category_mods_add' category=category.slug %}" method="post">
        {% csrf_token %}
        {% include 'racetime/forms/user_select.html' %}
        <button class="btn" type="submit">Add moderator</button>
    </form>
    <h3 class="dangerous">Transfer ownership</h3>
    <p class="help">
        Start typing in a name to transfer ownership of this category to
        another user. That user will become the category owner.
    </p>
    <p class="help">
        <strong>This action cannot be undone!</strong> You will lose the ability to
        manage this category, and all related permissions.
    </p>
    <form class="add-moderator-form layout-form dangerous" action="{% url 'category_transfer_owner' category=category.slug %}" method="post">
        {% csrf_token %}
        {% include 'racetime/forms/user_select.html' %}
        <button class="btn" type="submit">Transfer owner</button>
    </form>
{% endblock %}
