{% extends 'racetime/base.html' %}

{% block main %}
    <ol class="breadcrumbs">
        <li><a href="{{ category.get_absolute_url }}">{{ category.slug }}</a></li>
        {% if race %}
        <li><a href="{{ race.get_absolute_url }}">{{ race.slug }}</a></li>
        {% endif %}
    </ol>
    {% if race %}
    <h2>Edit race room: {{ race.slug }}</h2>
    {% else %}
    <h2>Start new {{ category.short_name }} race</h2>
    {% endif %}
    <p class="help">
        Supply the race details below. You must set either a goal or a custom
        goal, all other fields are optional.
    </p>
    <form class="race-form layout-form" method="post">
        {% csrf_token %}
        <ul>{{ form.as_ul }}</ul>
        <button class="btn" type="submit">Submit</button>
    </form>
{% endblock %}
