{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'racetime/style/race.css' %}">
<style>
.container {
    padding: 0;
}
.container > .content {
    padding: 0;
}
.container > .content > main {
    border: none;
    margin: 0;
    padding-top: 5px;
}
.breadcrumbs {
    margin-bottom: 5px;
}
.race-actions {
    margin-bottom: 5px;
}
.race-chat > .messages {
    margin-bottom: 5px;
    margin-top: 5px;
}
@media (max-height: 600px) {
    .race-status > .timer {
        font-size: 40px;
    }
    .race-status > .state > .value {
        font-size: 15px;
    }
    .race-status > .state > .help {
        display: none;
    }
}
@media (max-height: 500px) {
    .race-status > .state {
        display: none;
    }
}
</style>
{% endblock %}

{% block js %}
<script>
var raceChatLink = '{% url 'race_chat' category=race.category.slug race=race.slug %}';
var raceRendersLink = '{% url 'race_renders' category=race.category.slug race=race.slug %}';

$(function() {
    $('.race-chat textarea').focus();
});
</script>
<script src="{% static 'racetime/script/race.js' %}"></script>
{% endblock %}

{% block title %}
    {{ race.slug }} |
{% endblock %}
{% block meta %}
    <meta property="og:title" content="{{ race.category.name }} ~ {{ race.goal_str }} ({{ race.state_info.verbose_value }})">
    {% if race.is_preparing %}
        <meta name="description" content="Race room open, {% if race.state == 'open' %}anyone may join this race{% else %}by invitation only{% endif %}.">
        <meta property="og:description" content="Race room open, {% if race.state == 'open' %}anyone may join this race{% else %}by invitation only{% endif %}.">
    {% elif race.is_pending or race.is_in_progress %}
        <meta name="description" content="{{ race.entrants_count }} entrant{{ race.entrants_count|pluralize }} are currently racing.">
        <meta property="og:description" content="{{ race.entrants_count }} entrant{{ race.entrants_count|pluralize }} are currently racing.">
    {% elif race.state == 'finished' %}
        <meta name="description" content="{{ race.entrants_count }} entrant{{ race.entrants_count|pluralize }} finished this race in {{ race.timer_str }}.">
        <meta property="og:description" content="{{ race.entrants_count }} entrant{{ race.entrants_count|pluralize }} finished this race in {{ race.timer_str }}.">
    {% else %}
        <meta name="description" content="This race was cancelled.">
        <meta property="og:description" content="This race was cancelled.">
    {% endif %}
    {% if meta_image %}
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}
{% endblock %}

{% block nocurrentrace %}{% endblock nocurrentrace %}
{% block header %}{% endblock header %}
{% block footer %}{% endblock footer %}

{% block main %}
    <ol class="breadcrumbs">
        <li><a href="{{ race.category.get_absolute_url }}" target="_blank">{{ race.category.slug }}</a></li>
        <li><a href="{{ race.get_absolute_url }}" target="_blank">{{ race.slug }}</a></li>
    </ol>
    {% include 'racetime/race/aside.html' %}
{% endblock %}
