{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'racetime/style/audit_log.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'racetime/script/audit_log.js' %}"></script>
{% endblock %}

{% block title %}
    Audit log | {{ team.name }} |
{% endblock %}

{% block main %}
    <ol class="breadcrumbs">
        <li><a href="{{ team.get_absolute_url }}">{{ team.slug }}</a></li>
        <li><a href="{% url 'team_audit_log' team=team.slug %}">audit</a></li>
    </ol>
    <h2>{{ team }}</h2>
    {% include 'racetime/team/manage_tabs.html' with current='team_audit_log' %}
    <h3>Audit log</h3>
    <p>
        This page shows all actions, changes and updates to your team.
    </p>
    {% include 'racetime/pops/audit_log.html' %}
{% endblock %}
