{% extends 'racetime/base.html' %}

{% block title %}
    Account settings |
{% endblock %}

{% block main %}
    {% include 'racetime/user/tabs.html' with current='edit_account' %}
    <h2>Account settings</h2>
    <div class="division">
        <h3>Update your account</h3>
        <p class="help">
            Change your basic account and profile settings here. Note that
            during a race, name changes are forbidden.
        </p>
        <form class="edit-account-form layout-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>{{ form.as_ul }}</ul>
            <button class="btn" type="submit">Update account</button>
        </form>
    </div>
{% endblock %}
