{% extends 'racetime/base.html' %}
{% load static %}

{% block css %}
    <style>
    .twitch-channel, .youtube-channel, .patreon {
        display: inline-flex;
        vertical-align: middle;
    }
    .twitch-channel > img, .youtube-channel > img, .patreon > img {
        height: 22px;
        margin-right: 5px;
    }
    .division h4:not(:first-of-type) {
        margin-top: 20px;
    }
    </style>
{% endblock %}
{% block title %}
    Account settings |
{% endblock %}

{% block main %}
    {% include 'racetime/user/tabs.html' with current='edit_account_connections' %}
    <h2>Account connections</h2>
    <div class="division">
        <h3>Streaming platforms</h3>
        <p class="help">
            To join races where streaming is required, you must have an active
            <a href="https://www.twitch.tv" target="_blank" rel="nofollow">Twitch.tv</a>
            or <a href="https://www.youtube.com" target="_blank" rel="nofollow">YouTube</a>
            account.
        </p>
        <h4>Twitch</h4>
        {% if user.twitch_name %}
            <p>
                Connected to
                <a class="twitch-channel" href="{{ user.twitch_channel }}" target="_blank">
                    <img src="{% static 'racetime/image/twitch.svg' %}" alt="">
                    {{ user.twitch_name }}
                </a>
            </p>
            {% if not user.active_race_entrant %}
                <p>
                    <a href="{{ twitch_url }}" class="btn" target="_blank">Connect to different Twitch account</a>
                </p>
                <form action="{% url 'twitch_disconnect' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn dangerous">Disconnect Twitch account</button>
                </form>
            {% else %}
                <p class="help">
                    You cannot change your Twitch account while actively
                    participating in a race.
                </p>
            {% endif %}
        {% else %}
            <p>
                <a href="{{ twitch_url }}" class="btn" target="_blank">Connect your Twitch.tv account</a>
            </p>
        {% endif %}
        <h4>YouTube</h4>
        {% if user.youtube_id %}
            <p>
                Connected to
                <a class="youtube-channel" href="{{ user.youtube_channel }}" target="_blank">
                    <img src="{% static 'racetime/image/youtube.svg' %}" alt="">
                    YouTube ({{ user.youtube_id|truncatechars:12 }})
                </a>
            </p>
            {% if not user.active_race_entrant %}
                <p>
                    <a href="{{ youtube_url }}" class="btn" target="_blank">Connect to different YouTube account</a>
                </p>
                <form action="{% url 'youtube_disconnect' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn dangerous">Disconnect YouTube account</button>
                </form>
            {% else %}
                <p class="help">
                    You cannot change your YouTube account while actively
                    participating in a race.
                </p>
            {% endif %}
        {% else %}
            <p>
                <a href="{{ youtube_url }}" class="btn" target="_blank">Connect your YouTube account</a>
            </p>
        {% endif %}
    </div>
    <div class="division">
        <h3>Connect to Patreon</h3>
        <p class="help">
            If you're supporting us via Patreon, well, thanks! Connect your
            account to receive the shiny benefits.
        </p>
        {% if user.patreon_name %}
            <p>
                Connected to
                <span class="patreon">
                    <img src="{% static 'racetime/image/social/patreon_white.svg' %}" alt="">
                    {{ user.patreon_name }}
                </span>
            </p>
            <p>
                Supporter status: {% if user.is_supporter %}Active{% else %}Inactive{% endif %}
            </p>
            <p>
                <a href="{{ patreon_url }}" class="btn" target="_blank">Connect to different Patreon account</a>
            </p>
            <form action="{% url 'patreon_refresh' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn cancel">Refresh supporter status</button>
                <p class="help" style="margin-top: 0">
                    Click this if you've recently supported us, but your supporter status hasn't updated yet.
                </p>
            </form>
            <form action="{% url 'patreon_disconnect' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn dangerous">Disconnect Patreon account</button>
            </form>
        {% else %}
            <p>
                <a href="{{ patreon_url }}" class="btn" target="_blank">Connect your Patreon account</a>
            </p>
        {% endif %}
    </div>
    <div class="division">
        <h3>Applications</h3>
        <p class="help">
            Third-party applications that you have authorized to use your
            account will be listed here.
        </p>
        <ul class="auth-token-list">
            {% for authorized_token in authorized_tokens %}
                <li>
                    <span class="app">{{ authorized_token.application }}</span>
                    <form action="{% url 'oauth2_delete' pk=authorized_token.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn dangerous" type="submit" title="Revoke access for this application"><i class="material-icons">delete_forever</i></button>
                    </form>
                </li>
                <ul class="scopes">
                    {% for scope_name, scope_description in authorized_token.scopes.items %}
                        <li>{{ scope_description }}</li>
                    {% endfor %}
                </ul>
            {% empty %}
                <li class="empty">
                    You have not added any applications. If you do, they will
                    appear here.
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
