{% extends 'racetime/base.html' %}

{% block site_head %}
    <style>
    .home-categories > li {
        flex: 0 1 16.667%;
    }
    @media (max-width: 1200px) {
        .home-categories > li {
            flex: 0 1 20%;
        }
    }
    @media (max-width: 1100px) {
        .home-categories > li {
            flex: 0 1 25%;
        }
    }
    @media (max-width: 600px) {
        .home-categories > li {
            flex: 0 1 33.33%;
        }
    }
    </style>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#26dd9a">
{% endblock %}
