{% extends 'racetime/home.html' %}

{% block aside %}
    <div style="font-size: 15px">
        <h3 style="margin-top: 0">Introduction</h3>
        <p style="margin-top: 0">
            This is racetime.gg, a modern, sleek and user-friendly system that
            lets anyone and everyone race video games online.
        </p>
        <p>
            We're here to make speedrunning better with an
            <a href="https://github.com/deains/racetime-app" target="_blank">open source</a>,
            community driven site that anyone can use. We hope you like it!
        </p>
        <h3>Features</h3>
        <ul style="list-style: disc; margin-left: 1em">
            <li>
                <strong>Quick and easy.</strong> Speedrun strats can be hard,
                but races shouldn't have to be. Get started in less time than
                it takes to beat <a href="https://www.speedrun.com/smb1" rel="nofollow" target="_blank">SMB any%</a>.
            </li>
            <li>
                <strong>For your community.</strong> Every speedrun is
                different. Manage your own categories/goals, moderate races and
                take control for your game's community. We're here for you.
            </li>
            <li>
                <strong>Open source.</strong> This is a platform for everyone,
                and that means features, development and improvements will be
                open to all, for ever.
            </li>
        </ul>
        <p>
            <a href="/about/faq" style="font-weight: bold">Our FAQ</a>
            can tell you more about the site and why you should use it.
        </p>
        <h3>Get started</h3>
        <p style="margin-top: 0">
            Time to ready up? Simply
            <a href="{% url 'login_or_register' %}">create an account</a>,
            <a href="{% url 'edit_account' %}">connect with Twitch</a>,
            then just start your stream, and enjoy a race. Good luck!
        </p>
        <p>
            Need some more guidance? No worries. Our
            <a href="/about/help">help &amp; support</a> page will tell you all
            you need to know about how racetime.gg works.
        </p>
        <p>
            The available categories (left) are sorted by popularity. If
            you don't see the game you want, you can either use the
            <a href="/misc">Miscellaneous</a> category for a one-off race, or
            you can <a href="{% url 'request_category' %}">request a category</a>
            to be added.
        </p>
        <p>
            Looking to adopt an unowned category? Get in touch via
            <a href="https://discord.racetime.gg" target="_blank">Discord</a>!
        </p>
        <h3>Future developments</h3>
        <p style="margin-top: 0">
            If you have questions or feedback, or you're interested in getting
            involved with improving the site, moderating games or simply want
            to help spread the word, our
            <a href="https://discord.racetime.gg" target="_blank">Discord server</a>
            is open for anyone to join.
        </p>
        <p>
            Suggestions are always welcome on how to make this site a great
            tool for the speedrun community, so feel free to share your ideas!
        </p>
    </div>
{% endblock %}
