{% extends 'racetime/base.html' %}

{% block css %}
    <style>
    .wiki ul {
        list-style: disc;
        margin-left: 1em;
    }
    .wiki ul > li {
        margin-top: 5px;
    }
    .wiki ul > li:first-child {
        margin-top: 0;
    }
    </style>
{% endblock %}

{% block title %}
    {{ title }} |
{% endblock %}
{% block meta %}
    <meta property="og:title" content="{{ title }}">
{% endblock %}

{% block main %}
    <div class="wiki">
        {{ page }}
    </div>
{% endblock %}
