{% load humanize %}
{% load static %}
<li class="entrant-row">
    <span class="place">
        {{ entrant.place|ordinal|default:'—' }}
    </span>
    <span class="user">
        {% include 'racetime/pops/user.html' with user=entrant.user extra_class='inline' %}
        {% if not race.is_done and entrant.user.twitch_channel %}
            <span class="stream">
                {% if entrant.stream_live %}
                    <a href="{{ entrant.user.twitch_channel }}" target="_blank"" title="Stream online">
                        <img src="{% static 'racetime/image/twitch.svg' %}" alt="Twitch.tv">
                    </a>
                {% else %}
                    <a href="{{ entrant.user.twitch_channel }}" target="_blank" title="Stream offline">
                        <img src="{% static 'racetime/image/twitch_offline.svg' %}" alt="Twitch.tv">
                    </a>
                {% endif %}
            </span>
        {% endif %}
        {% if entrant.comment %}
            <span class="comment">
                <i class="material-icons">chat_bubble</i>
                <span class="text">{{ entrant.comment }}</span>
            </span>
        {% endif %}
    </span>
    {% if can_monitor and entrant.user != user %}
        <ul class="monitor-actions">
            {% if entrant.can_accept_request %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'accept_request' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Accept invite">
                            <i class="material-icons">person_add</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if entrant.can_force_unready %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'force_unready' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Force unready">
                            <i class="material-icons">thumb_down</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if can_moderate and entrant.can_override_stream %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'override_stream' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Override stream requirement">
                            <i class="material-icons">videocam_off</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if entrant.can_remove %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'remove' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Remove">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if can_moderate and entrant.can_disqualify %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'disqualify' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Disqualify">
                            <i class="material-icons">flash_on</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if can_moderate and entrant.can_undisqualify %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'undisqualify' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Un-disqualify">
                            <i class="material-icons">flash_off</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if entrant.can_add_monitor %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'add_monitor' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Promote to race monitor">
                            <i class="material-icons">work</i>
                        </button>
                    </form>
                </li>
            {% endif %}
            {% if entrant.can_remove_monitor %}
                <li>
                    <form method="post" class="race-action-form" action="{% url 'remove_monitor' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn" title="Demote from race monitor">
                            <i class="material-icons">work_off</i>
                        </button>
                    </form>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    <span class="status {{ entrant.summary.0 }}" title="{{ entrant.summary.2 }}">
        {{ entrant.summary.1 }}
    </span>
    <time class="finish-time">{{ entrant.finish_time_html|default:'—'|safe }}</time>
    <span class="status-or-time {{ entrant.summary.0 }}" title="{{ entrant.summary.2 }}">
        {% if entrant.finish_time %}
            <time class="finish-time">{{ entrant.finish_time_html|default:'—'|safe }}</time>
        {% else %}
            {{ entrant.summary.1 }}
        {% endif %}
    </span>
    {% if entrant.score_change %}
        {% if entrant.score_change > 0 %}
            <span class="score-change positive">
                {{ entrant.display_score_change|intcomma }}
            </span>
        {% else %}
            <span class="score-change negative">
                {{ entrant.display_score_change|intcomma|slice:'1:' }}
            </span>
        {% endif %}
    {% elif entrant.score %}
        <span class="score" title="Leaderboard score for {{ race.goal_str }}">
            {{ entrant.display_score|intcomma }}
        </span>
    {% elif race.goal %}
        <span class="score" title="Not ranked">n/a</span>
    {% endif %}
</li>
