<ul data-entrant="{{ index }}">{% spaceless %}
    {% if entrant.can_accept_request %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'accept_request' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Accept invite</span>
                    <i class="material-icons">person_add</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if entrant.can_force_unready %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'force_unready' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Force unready</span>
                    <i class="material-icons">thumb_down</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if race.category.allow_stream_override or can_moderate %}{% if entrant.can_override_stream %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'override_stream' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Override stream requirement</span>
                    <i class="material-icons">videocam_off</i>
                </button>
            </form>
        </li>
    {% endif %}{% endif %}
    {% if entrant.can_remove %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'remove' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Remove</span>
                    <i class="material-icons">delete_forever</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if can_moderate and entrant.can_disqualify and entrant.user != user %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'disqualify' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Disqualify</span>
                    <i class="material-icons">flash_on</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if can_moderate and entrant.can_undisqualify and entrant.user != user %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'undisqualify' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Un-disqualify</span>
                    <i class="material-icons">flash_off</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if entrant.can_add_monitor %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'add_monitor' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Promote to race monitor</span>
                    <i class="material-icons">work</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if entrant.can_remove_monitor %}
        <li>
            <form method="post" class="race-action-form" action="{% url 'remove_monitor' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <span>Demote from race monitor</span>
                    <i class="material-icons">work_off</i>
                </button>
            </form>
        </li>
    {% endif %}
    {% if can_edit and entrant.can_edit %}
        <li>
            <a class="btn" href="{% url 'edit_race_result' entrant=entrant.user.hashid race=race.slug category=race.category.slug %}">
                <span>Edit result</span>
                <i class="material-icons">edit</i>
            </a>
        </li>
    {% endif %}
{% endspaceless %}</ul>
