{% load humanize %}
{% load static %}
<li class="entrant-row" data-entrant="{{ index }}">
    <span class="place">
        {{ entrant.place|ordinal|default:'—' }}
    </span>
    <span class="user">
        {% include 'racetime/pops/user.html' with user=entrant.user extra_class='inline' %}
        {% if not race.is_done and entrant.user.twitch_channel %}
            <span class="stream">
                {% if entrant.stream_live %}
                    <a href="{{ entrant.user.twitch_channel }}" target="_blank" title="Stream online">
                        <img src="{% static 'racetime/image/twitch.svg' %}" alt="Twitch.tv">
                    </a>
                {% else %}
                    <a href="{{ entrant.user.twitch_channel }}" target="_blank" title="Stream offline">
                        <img src="{% static 'racetime/image/twitch_offline.svg' %}" alt="Twitch.tv">
                    </a>
                {% endif %}
            </span>
        {% endif %}
        {% if entrant.comment %}
            <span class="comment {% if not race.comments_visible %}hidden{% endif %}">
                <i class="material-icons">more</i>
                {% if race.comments_visible %}
                    <span class="text">{{ entrant.comment }}</span>
                {% else %}
                    <span class="text">Comments are hidden until the race ends.</span>
                {% endif %}
            </span>
        {% endif %}
    </span>
    <span class="status {{ entrant.summary.0 }}" title="{{ entrant.summary.2 }}">
        {{ entrant.summary.1 }}
    </span>
    <time class="finish-time">{{ entrant.finish_time_html|default:'—'|safe }}</time>
    <span class="status-or-time {{ entrant.summary.0 }}" title="{{ entrant.summary.2 }}">
        {% if entrant.finish_time %}
            <time class="finish-time">{{ entrant.finish_time_html|default:'—'|safe }}</time>
        {% else %}
            {{ entrant.summary.1 }}
        {% endif %}
    </span>
    {% if entrant.rating_change %}
        {% if entrant.rating_change >= 0 %}
            <span class="score-change positive">
                {{ entrant.rating_change|intcomma }}
            </span>
        {% else %}
            <span class="score-change negative">
                {{ entrant.rating_change|intcomma|slice:'1:' }}
            </span>
        {% endif %}
    {% elif entrant.rating %}
        <span class="score" title="Leaderboard score for {{ race.goal_str }}">
            {{ entrant.rating|intcomma }}
        </span>
    {% elif race.goal %}
        <span class="score" title="Not ranked">n/a</span>
    {% endif %}
    {% if can_monitor %}
        <div class="monitor-actions"></div>
    {% endif %}
</li>
