{% load humanize %}
<a class="race{% if not race.recorded and race.recordable %} recordable{% endif %}" href="{{ race.get_absolute_url }}">
    <span class="main">
        {% if nocontext and race.category.image %}
            <img src="{{ race.category.image.url }}" alt="">
        {% endif %}
        <span class="left">
            {% if not aside %}
                <span class="goal">
                    {% if nocontext %}
                        {{ race.category.short_name }}
                    {% endif %}
                    {% if not short %}
                        {{ race.goal|default:race.custom_goal }}
                    {% endif %}
                </span>
            {% else %}
                {% if nocontext %}
                    <span class="category">{{ race.category.short_name }}</span>
                {% endif %}
                <span class="goal">
                    {{ race.goal|default:race.custom_goal }}
                </span>
            {% endif %}
            {% if entrant %}
                {% if entrant.place %}
                    {{ entrant.place_ordinal }} place
                {% else %}
                    {{ entrant.summary.1 }}
                {% endif %}
            {% else %}
                <span class="state">
                    {{ race.state_info.verbose_value }}
                    {% if race.state == 'finished' %}
                        <span class="recorded">
                            {% if race.recorded %}
                                recorded
                            {% else %}
                                {% if race.recordable %}
                                    awaiting record
                                {% else %}
                                    not recorded
                                {% endif %}
                            {% endif %}
                        </span>
                    {% endif %}
                </span>
            {% endif %}
        </span>
        <span class="right">
            <span class="entrants">
                {{ race.entrants_count }} entrant{{ race.entrants_count|pluralize }}
            </span>
            {% if race.started_at %}
                <time class="timer {% if race.is_pending or race.is_in_progress %}autotick{% endif %}" datetime="{{ race.started_at.isoformat }}">
                    {{ race.timer_html|safe }}
                </time>
            {% else %}
                <time class="timer">
                    {{ race.timer_html|safe }}
                </time>
            {% endif %}
            {% if entrant %}
                <span class="entrant-data">
                    {% if entrant.rating_change %}
                        {% if entrant.rating_change >= 0 %}
                            <span class="score-change positive">
                                {{ entrant.rating_change|intcomma }}
                            </span>
                        {% else %}
                            <span class="score-change negative">
                                {{ entrant.rating_change|intcomma|slice:'1:' }}
                            </span>
                        {% endif %}
                    {% endif %}
                    {% if entrant.comment %}
                        <i class="material-icons comment-icon" title="{{ entrant.comment }}">more</i>
                    {% else %}
                        <i class="material-icons comment-icon no-comment">more</i>
                    {% endif %}
                </span>
            {% endif %}
        </span>
    </span>
    {% if race.info and not nocontext %}
        <span class="info emotes-enabled">
            {{ race.info }}
        </span>
    {% endif %}
</a>
