{% load racetime %}
{% if user and user.active %}
    <a class="user-pop {{ extra_class }} {% if not hide_flair %}{% flair user category=category race=race %}{% endif %}" href="{% url 'view_profile' user=user.hashid %}">
        {% if user.avatar and not hide_avatar %}
        <span class="avatar" style="background-image: url({{ user.avatar.url }})"></span>
        {% endif %}
        <span class="name">{{ user.name }}</span>
        {% if user.use_discriminator %}
        <span class="scrim">#{{ user.discriminator }}</span>
        {% endif %}
    </a>
{% elif user and not user.active %}
    <span class="user-pop {{ extra_class }}">
        <span class="name">(Inactive/Deleted user)</span>
    </span>
{% else %}
    <span class="user-pop {{ extra_class }}">
        <span class="name">No-one</span>
    </span>
{% endif %}
